.button {
    background-color: gold;
    border-radius: 6px;
    color:black;
}

.flame {
    border: 10px; /* 枠線のスタイルを設定 */
    padding: 10px; /* テキストと枠線の間隔を設定 */
    margin: 10px 0; /* テキスト要素の上下のマージンを設定 */
    background-color: green;
    border-radius: 6px;
    color:blue;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
/* スタイルの定義 */
.friend {
    border: 10px; /* 枠線のスタイルを設定 */
    padding: 10px; /* テキストと枠線の間隔を設定 */
    margin: 10px 0; /* テキスト要素の上下のマージンを設定 */
  }