body {
  background-color: rgb(167, 165, 165);
  border-radius: 6px;
  color: black;
  background-image: url(/images/chip_performance_hw__6ytcie74ao22_medium_2x.png);
  /* background-image: url(/images/iphone-x-later-force-restart-animation.gif); */
  background-size: 400px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width:300px;
  margin:auto;
  /* filter: drop-shadow(5px 5px 5px #000000); */
}

#btnId{
  font-size:130%;
}

img {
  margin:auto;
  display:block;
}

#newsfeed {
  overflow:auto;
  width:300px;height:580px;
}
#newsfeed::-webkit-scrollbar{
  display:none;
}

div {
  text-align: center;
  /* width: 400px; max-width:100%; */
  /* height: 200px; */
}

h1{
  height: 40%;
  text-align: center;
  font-size:170%;
}

form{
  text-align: center;
}

#userInput{
  font-size:130%;
}

/* スタイルの定義 */
.friend {
  border: 10px;
  /* 枠線のスタイルを設定 */
  padding: 10px;
  /* テキストと枠線の間隔を設定 */
  margin: 10px;
  /* テキスト要素の上下のマージンを設定 */
  /* width: 200px; */
  /* text-align:center; */
}